<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sse.eport.mapper.generated.DispatcherMapper" >
  <resultMap id="BaseResultMap" type="org.sse.eport.pojo.Dispatcher" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DISPATCH_START" property="dispatchStart" jdbcType="VARCHAR" />
    <result column="DISPATCH_STOP" property="dispatchStop" jdbcType="VARCHAR" />
    <result column="INSERT_BY" property="insertBy" jdbcType="VARCHAR" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="INSERT_TIME" property="insertTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DISPATCH_START, DISPATCH_STOP, INSERT_BY, UPDATE_BY, INSERT_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sse.eport.pojo.DispatcherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dispatcher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dispatcher
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dispatcher
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.sse.eport.pojo.DispatcherExample" >
    delete from dispatcher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sse.eport.pojo.Dispatcher" >
    insert into dispatcher (ID, DISPATCH_START, DISPATCH_STOP, 
      INSERT_BY, UPDATE_BY, INSERT_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{dispatchStart,jdbcType=VARCHAR}, #{dispatchStop,jdbcType=VARCHAR}, 
      #{insertBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{insertTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="org.sse.eport.pojo.Dispatcher" >
    insert into dispatcher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dispatchStart != null" >
        DISPATCH_START,
      </if>
      <if test="dispatchStop != null" >
        DISPATCH_STOP,
      </if>
      <if test="insertBy != null" >
        INSERT_BY,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="insertTime != null" >
        INSERT_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dispatchStart != null" >
        #{dispatchStart,jdbcType=VARCHAR},
      </if>
      <if test="dispatchStop != null" >
        #{dispatchStop,jdbcType=VARCHAR},
      </if>
      <if test="insertBy != null" >
        #{insertBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sse.eport.pojo.DispatcherExample" resultType="java.lang.Integer" >
    select count(*) from dispatcher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dispatcher
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dispatchStart != null" >
        DISPATCH_START = #{record.dispatchStart,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchStop != null" >
        DISPATCH_STOP = #{record.dispatchStop,jdbcType=VARCHAR},
      </if>
      <if test="record.insertBy != null" >
        INSERT_BY = #{record.insertBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.insertTime != null" >
        INSERT_TIME = #{record.insertTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dispatcher
    set ID = #{record.id,jdbcType=INTEGER},
      DISPATCH_START = #{record.dispatchStart,jdbcType=VARCHAR},
      DISPATCH_STOP = #{record.dispatchStop,jdbcType=VARCHAR},
      INSERT_BY = #{record.insertBy,jdbcType=VARCHAR},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      INSERT_TIME = #{record.insertTime,jdbcType=DATE},
      UPDATE_TIME = #{record.updateTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sse.eport.pojo.Dispatcher" >
    update dispatcher
    <set >
      <if test="dispatchStart != null" >
        DISPATCH_START = #{dispatchStart,jdbcType=VARCHAR},
      </if>
      <if test="dispatchStop != null" >
        DISPATCH_STOP = #{dispatchStop,jdbcType=VARCHAR},
      </if>
      <if test="insertBy != null" >
        INSERT_BY = #{insertBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        INSERT_TIME = #{insertTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sse.eport.pojo.Dispatcher" >
    update dispatcher
    set DISPATCH_START = #{dispatchStart,jdbcType=VARCHAR},
      DISPATCH_STOP = #{dispatchStop,jdbcType=VARCHAR},
      INSERT_BY = #{insertBy,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      INSERT_TIME = #{insertTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>