<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sse.eport.mapper.generated.PatrolLogMapper" >
  <resultMap id="BaseResultMap" type="org.sse.eport.pojo.PatrolLog" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PATROL_ID" property="patrolId" jdbcType="INTEGER" />
    <result column="EQ_ID" property="eqId" jdbcType="INTEGER" />
    <result column="PATROL_TIME" property="patrolTime" jdbcType="DATE" />
    <result column="PATROL_RESULT" property="patrolResult" jdbcType="VARCHAR" />
    <result column="PATROL_PICTURE" property="patrolPicture" jdbcType="VARCHAR" />
    <result column="INSERT_BY" property="insertBy" jdbcType="VARCHAR" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="INSERT_TIME" property="insertTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PATROL_ID, EQ_ID, PATROL_TIME, PATROL_RESULT, PATROL_PICTURE, INSERT_BY, UPDATE_BY, 
    INSERT_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sse.eport.pojo.PatrolLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from patrol_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from patrol_log
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from patrol_log
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.sse.eport.pojo.PatrolLogExample" >
    delete from patrol_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sse.eport.pojo.PatrolLog" >
    insert into patrol_log (ID, PATROL_ID, EQ_ID, 
      PATROL_TIME, PATROL_RESULT, PATROL_PICTURE, 
      INSERT_BY, UPDATE_BY, INSERT_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{patrolId,jdbcType=INTEGER}, #{eqId,jdbcType=INTEGER}, 
      #{patrolTime,jdbcType=DATE}, #{patrolResult,jdbcType=VARCHAR}, #{patrolPicture,jdbcType=VARCHAR}, 
      #{insertBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{insertTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="org.sse.eport.pojo.PatrolLog" >
    insert into patrol_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="patrolId != null" >
        PATROL_ID,
      </if>
      <if test="eqId != null" >
        EQ_ID,
      </if>
      <if test="patrolTime != null" >
        PATROL_TIME,
      </if>
      <if test="patrolResult != null" >
        PATROL_RESULT,
      </if>
      <if test="patrolPicture != null" >
        PATROL_PICTURE,
      </if>
      <if test="insertBy != null" >
        INSERT_BY,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="insertTime != null" >
        INSERT_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="patrolId != null" >
        #{patrolId,jdbcType=INTEGER},
      </if>
      <if test="eqId != null" >
        #{eqId,jdbcType=INTEGER},
      </if>
      <if test="patrolTime != null" >
        #{patrolTime,jdbcType=DATE},
      </if>
      <if test="patrolResult != null" >
        #{patrolResult,jdbcType=VARCHAR},
      </if>
      <if test="patrolPicture != null" >
        #{patrolPicture,jdbcType=VARCHAR},
      </if>
      <if test="insertBy != null" >
        #{insertBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sse.eport.pojo.PatrolLogExample" resultType="java.lang.Integer" >
    select count(*) from patrol_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update patrol_log
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.patrolId != null" >
        PATROL_ID = #{record.patrolId,jdbcType=INTEGER},
      </if>
      <if test="record.eqId != null" >
        EQ_ID = #{record.eqId,jdbcType=INTEGER},
      </if>
      <if test="record.patrolTime != null" >
        PATROL_TIME = #{record.patrolTime,jdbcType=DATE},
      </if>
      <if test="record.patrolResult != null" >
        PATROL_RESULT = #{record.patrolResult,jdbcType=VARCHAR},
      </if>
      <if test="record.patrolPicture != null" >
        PATROL_PICTURE = #{record.patrolPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.insertBy != null" >
        INSERT_BY = #{record.insertBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.insertTime != null" >
        INSERT_TIME = #{record.insertTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update patrol_log
    set ID = #{record.id,jdbcType=INTEGER},
      PATROL_ID = #{record.patrolId,jdbcType=INTEGER},
      EQ_ID = #{record.eqId,jdbcType=INTEGER},
      PATROL_TIME = #{record.patrolTime,jdbcType=DATE},
      PATROL_RESULT = #{record.patrolResult,jdbcType=VARCHAR},
      PATROL_PICTURE = #{record.patrolPicture,jdbcType=VARCHAR},
      INSERT_BY = #{record.insertBy,jdbcType=VARCHAR},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      INSERT_TIME = #{record.insertTime,jdbcType=DATE},
      UPDATE_TIME = #{record.updateTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sse.eport.pojo.PatrolLog" >
    update patrol_log
    <set >
      <if test="patrolId != null" >
        PATROL_ID = #{patrolId,jdbcType=INTEGER},
      </if>
      <if test="eqId != null" >
        EQ_ID = #{eqId,jdbcType=INTEGER},
      </if>
      <if test="patrolTime != null" >
        PATROL_TIME = #{patrolTime,jdbcType=DATE},
      </if>
      <if test="patrolResult != null" >
        PATROL_RESULT = #{patrolResult,jdbcType=VARCHAR},
      </if>
      <if test="patrolPicture != null" >
        PATROL_PICTURE = #{patrolPicture,jdbcType=VARCHAR},
      </if>
      <if test="insertBy != null" >
        INSERT_BY = #{insertBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        INSERT_TIME = #{insertTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sse.eport.pojo.PatrolLog" >
    update patrol_log
    set PATROL_ID = #{patrolId,jdbcType=INTEGER},
      EQ_ID = #{eqId,jdbcType=INTEGER},
      PATROL_TIME = #{patrolTime,jdbcType=DATE},
      PATROL_RESULT = #{patrolResult,jdbcType=VARCHAR},
      PATROL_PICTURE = #{patrolPicture,jdbcType=VARCHAR},
      INSERT_BY = #{insertBy,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      INSERT_TIME = #{insertTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>