<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sse.eport.mapper.generated.StaffMapper" >
  <resultMap id="BaseResultMap" type="org.sse.eport.pojo.Staff" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="TEL_NUMBER" property="telNumber" jdbcType="VARCHAR" />
    <result column="ID_CARD_NUMBER" property="idCardNumber" jdbcType="VARCHAR" />
    <result column="IS_SUPER" property="isSuper" jdbcType="VARCHAR" />
    <result column="INSERT_BY" property="insertBy" jdbcType="VARCHAR" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="INSERT_TIME" property="insertTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, ACCOUNT_ID, PASSWORD, TEL_NUMBER, ID_CARD_NUMBER, IS_SUPER, INSERT_BY, 
    UPDATE_BY, UPDATE_TIME, INSERT_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sse.eport.pojo.StaffExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from staff
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from staff
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.sse.eport.pojo.StaffExample" >
    delete from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sse.eport.pojo.Staff" >
    insert into staff (ID, NAME, ACCOUNT_ID, 
      PASSWORD, TEL_NUMBER, ID_CARD_NUMBER, 
      IS_SUPER, INSERT_BY, UPDATE_BY, 
      UPDATE_TIME, INSERT_TIME)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{telNumber,jdbcType=VARCHAR}, #{idCardNumber,jdbcType=VARCHAR}, 
      #{isSuper,jdbcType=VARCHAR}, #{insertBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=DATE}, #{insertTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="org.sse.eport.pojo.Staff" >
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="telNumber != null" >
        TEL_NUMBER,
      </if>
      <if test="idCardNumber != null" >
        ID_CARD_NUMBER,
      </if>
      <if test="isSuper != null" >
        IS_SUPER,
      </if>
      <if test="insertBy != null" >
        INSERT_BY,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="insertTime != null" >
        INSERT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telNumber != null" >
        #{telNumber,jdbcType=VARCHAR},
      </if>
      <if test="idCardNumber != null" >
        #{idCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="isSuper != null" >
        #{isSuper,jdbcType=VARCHAR},
      </if>
      <if test="insertBy != null" >
        #{insertBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.sse.eport.pojo.StaffExample" resultType="java.lang.Integer" >
    select count(*) from staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update staff
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null" >
        ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.telNumber != null" >
        TEL_NUMBER = #{record.telNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardNumber != null" >
        ID_CARD_NUMBER = #{record.idCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.isSuper != null" >
        IS_SUPER = #{record.isSuper,jdbcType=VARCHAR},
      </if>
      <if test="record.insertBy != null" >
        INSERT_BY = #{record.insertBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.insertTime != null" >
        INSERT_TIME = #{record.insertTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update staff
    set ID = #{record.id,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      ACCOUNT_ID = #{record.accountId,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      TEL_NUMBER = #{record.telNumber,jdbcType=VARCHAR},
      ID_CARD_NUMBER = #{record.idCardNumber,jdbcType=VARCHAR},
      IS_SUPER = #{record.isSuper,jdbcType=VARCHAR},
      INSERT_BY = #{record.insertBy,jdbcType=VARCHAR},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      INSERT_TIME = #{record.insertTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sse.eport.pojo.Staff" >
    update staff
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="telNumber != null" >
        TEL_NUMBER = #{telNumber,jdbcType=VARCHAR},
      </if>
      <if test="idCardNumber != null" >
        ID_CARD_NUMBER = #{idCardNumber,jdbcType=VARCHAR},
      </if>
      <if test="isSuper != null" >
        IS_SUPER = #{isSuper,jdbcType=VARCHAR},
      </if>
      <if test="insertBy != null" >
        INSERT_BY = #{insertBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="insertTime != null" >
        INSERT_TIME = #{insertTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sse.eport.pojo.Staff" >
    update staff
    set NAME = #{name,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      TEL_NUMBER = #{telNumber,jdbcType=VARCHAR},
      ID_CARD_NUMBER = #{idCardNumber,jdbcType=VARCHAR},
      IS_SUPER = #{isSuper,jdbcType=VARCHAR},
      INSERT_BY = #{insertBy,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      INSERT_TIME = #{insertTime,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>